@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* || General Style */

body {
  font-family: 'Poppins';
  @apply bg-customGrey;
}

/* || Titles */

h2 {
  @apply text-3xl mb-4 mt-4 font-semibold;
}

h3 {
  @apply text-2xl mb-4;
}

/* || Buttons */

button {
  @apply rounded-xl p-2 mt-4 transition duration-300 ease-in-out;
}

button:hover,
button.main:hover {
  @apply bg-opacity-50;
}

button.main {
  @apply bg-customPurple text-customWhite;
}

button.error {
  @apply bg-customBrightRed text-white;
}

.card {
  @apply bg-white border rounded-3xl shadow-sm hover:shadow-lg transition duration-200 ease-in-out;
}
